<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <!-- tag para não renderizar uma nova div  -->
    <!-- usando condiconais if e else -->
    <template v-if="logado">
        <p>Usuário logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if="anonimo">Navegando como Anonimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }}</button>
    <input type="checkbox" v-model="anonimo">
    <hr>
    <!-- Usando listas -->
    <!-- renderizando elementos e adicionando atributos -->
    <ul>
        <li v-for="cor in cores" :id='cor' :value='cor'> {{ cor }} </li>
    </ul>
    <hr>
    <!-- priemiro valor segundo é o indice associado ao valor -->
    <ul :style="{listStyle: ul}">
        <li v-for="(cor, i) in cores" :key="cor"> {{ i + 1 }}) {{ cor }} </li>
    </ul>
    <!-- Adiciona novo elemento na lista -->
    <button @click="cores.push('branca')">Adicionar</button>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            {{ pessoa.nome }}
            <div v-for="(valor, chave, index) in pessoa">
                {{ index + 1 }}) {{ chave }} = {{ valor }}
            </div>
        </li>
    </ul>
    <hr>
    <span v-for="n in 10"> span => {{ n }} </span>
    <div v-for="n in 10">div => {{ n }}</div>
</div>
<hr>
<h1 v-show="logado">teste</h1>
<!-- exibe no código fonte, ao contrario do v-if que some com os dado da DOM-->
<footer v-show=logado>
    Desenvolvido para vc
</footer>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'GGrecco',
            logado: false,
            anonimo: false,
            ul: 'none',
            cores: ['vermleho', 'verde', 'amarelo', 'azul'],
            pessoas: [{
                nome: 'Karim',
                idade: 36,
                peso: '79'
            }, {
                nome: 'Gustavo',
                idade: 34,
                peso: '84'
            }, {
                nome: 'Darth',
                idade: 2,
                peso: '5'
            }, {
                nome: 'Vader',
                idade: 2,
                peso: '8'
            }, ]
        }
    })
</script>